<connectionStrings>
  <remove name="umbracoDbDSN" />
  <add name="umbracoDbDSN" connectionString="Server=UKL025\SQLEXPRESS2014;Database=UM_CPAA_UAT;user id=SA;password=Sigm@2007!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
</connectionStrings>

