@using Our.Umbraco.PropertyConverters
@using Sigma.Umbraco.Core.Extensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var homepage = Model.Content.AncestorOrSelf(1);

}
<footer role="contentinfo">
    <div>
    </div>
</footer>
